<!DOCTYPE html>
<html>
<head>
    <title>Wine Quality Prediction</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Wine Quality Prediction</h1>
    <form action="/predict" method="post">
        
        <label>Fixed Acidity: 
            <input type="number" step="any" name="fixedacidity">
        </label>
        <br><br>

        <label>Volatile Acidity: 
            <input type="number" step="any" name="volatileacidity">
        </label>
        <br><br>

        <label>Citric Acid: 
            <input type="number" step="any" name="citricacid">
        </label>
        <br><br>

        <label>Residual Sugar: 
            <input type="number" step="any" name="residualsugar">
        </label>
        <br><br>

        <label>Chlorides: 
            <input type="number" step="any" name="chlorides">
        </label>
        <br><br>

        <label>Free Sulfur Dioxide: 
            <input type="number" step="any" name="freesulfurdioxide">
        </label>
        <br><br>

        <label>Total Sulfur Dioxide: 
            <input type="number" step="any" name="totalsulfurdioxide">
        </label>
        <br><br>

        <label>Density: 
            <input type="number" step="any" name="density">
        </label>
        <br><br>

        <label>pH: 
            <input type="number" step="any" name="ph">
        </label>
        <br><br>

        <label>Sulphates: 
            <input type="number" step="any" name="sulphates">
        </label>
        <br><br>

        <label>Alcohol: 
            <input type="number" step="any" name="alcohol">
        </label>
        <br><br>

        <input type="submit" value="Predict">
    </form>
</body>
</html>